@model List<GetUserDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <!-- Personel Tablosu -->
    <h2 id="personnelHeader" class="clickable">
        Personeller
        <i class="fas fa-chevron-up rotate-animation rotate-down"></i>
    </h2>
    @{
        Html.RenderPartial("_UserTable", Model.Where(u => u.PersonnelId != null));
    }

    <br /><br />

    <!-- Hasta Tablosu -->
    <h2 id="patientHeader" class="clickable">
        Hastalar
        <i class="fas fa-chevron-up rotate-animation rotate-down"></i>
    </h2>
    @{
        Html.RenderPartial("_UserTable", Model.Where(u => u.PatientId != null));
    }
</div>
