<div class="sidebar">
    <h4 class="text-white text-center py-3">Admin Paneli</h4>
    <a href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
    <a href="/Admin/User/Index"><i class="fas fa-user"></i> Kullanıcılar</a>
    <a href="#"><i class="fas fa-calendar"></i> Randevular</a>
    <a href="#"><i class="fas fa-cogs"></i> Ayarlar</a>
    <a href="#"><i class="fas fa-sign-out-alt"></i> Çıkış</a>
</div>