<div class="sidebar minimalist-sidebar">
    <h4>Admin Paneli</h4>
    <a href="/Admin/Home/Index/"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
    <a href="/Admin/User/Index/"><i class="fas fa-user"></i> Kullanıcılar</a>
    <a href="/Admin/Polyclinic/Index/"><i class="fas fa-clinic-medical"></i> Poliklinikler</a>
    <a href="#"><i class="fas fa-calendar"></i> Randevular</a>
    <a href="#"><i class="fas fa-cogs"></i> Ayarlar</a>
    <a href="#" class="logout"><i class="fas fa-sign-out-alt"></i> Çıkış</a>
</div>
